.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-left: 20px;
  width: 120px;
  background-color: #0278d1;
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 12px;
}
.active {
  background-color: yellow;
  color: #0278d1;
}
.nav {
  display: flex;
  align-items: center;
}
