.container {
  width: 650px;
  margin: 0 auto;
  margin-top: 60px;
  text-align: center;
}
.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 0 auto;
  margin-top: 50px;
  width: 120px;
  height: 55px;
  background-color: #0278d1;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 600;
  transition: color 250ms linear, background-color 250ms linear;
}
.btn:hover {
  color: #0031f9;
  background-color: #87c8fa;
}
.link {
  text-decoration: none;
}
